---
---

/* Variables */
$orange: #F89406;
$grayLighter: #eee;
$grayLight: #999;
$white: #fff;

/* Webfonts */
@font-face {
  font-family: 'League Gothic';

  src: url("/assets/leaguegothic-regular-webfont.eot");
  src: local("☺"),
    url("/assets/leaguegothic-regular-webfont.woff"),
    url("/assets/leaguegothic-regular-webfont.ttf"),
    url("/assets/leaguegothic-regular-webfont.svg#league_gothicregular");
}

$gothicFontFamily: 'League Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$normalFontFamily: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts > li {
  margin-bottom: 20px;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
}

.jump-links a,
.ks-brand a {
  font-family: $gothicFontFamily;
  text-transform: uppercase;
  font-size: 30px;
}

.jump-links {
  clear: both;
  margin: 0 0 10px 20px;
  
  a {
    color: $white;
    margin: 0 8px;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $orange;
    }
  }
}

.ks-brand {
  margin: 0;
  display: inline;
}

.ks-brand a {
  color: $grayLight;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
  }
}

.ks-brand .tagline {
  font-family: $normalFontFamily;
  text-transform: lowercase;
  font-size: 24px;
  margin-left: 3px;
}

.nav-jump {
  position: relative;
  top: 20px;
  margin: 0 8px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;

  @media only screen and (min-width: 768px) {
    font-size: 1.2*14px;
    line-height: 1.2*20px;
    code {
      font-size: 1.2*12px;
      line-height: 1.2*20px;
    }
  }
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 1em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.footer .twitter-follow-button {
  margin-top: 10px;
  margin-left: 38%;
  margin-left: -webkit-calc(50% - 82px);
  margin-left: -moz-calc(50% - 82px);
  margin-left: calc(50% - 82px);
}

.footer .disclaimer {
  margin: 0 2em;
  text-align: center;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-header {
  font-size: 1.5em;
}

.post-header span {
  font-size: 80%;
}

.caption {
  text-align: center;
  text-size: 80%;
}

.post-splitter {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

.social-plugins {
  position: relative;
  top: 4px;
  margin-left: 12px;

  .social-plugins-post {
    margin: 0;
  }
}

.profile-block {
  border-top: 2px solid #eee;
  margin-top: 20px;
}

.profile-header {
  margin-left: 10px;
}

.profile-picture {
  background-image: url(/assets/splat-profile.jpg);
  background-size: 100%;
  width: 200px;
  height: 200px;
  margin-left: 10px;

  @media
  screen and (-webkit-min-device-pixel-ratio: 1.5),
  screen and (-moz-min-device-pixel-ratio: 1.5),
  screen and (min-device-pixel-ratio: 1.5) {
    background-image: url(/assets/splat-profile-2x.jpg);
  }
  @media only screen and (min-width: 768px) and (max-width: 980px) {
    width: 146px;
    height: 146px;
  }
}

.profile-blurb {
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #777;
  margin-top: 6px;
}

.profile-twitter-button {
  margin: 6px 0 0 10px;
}

.recent-posts {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin-left: 20px;
}

.recent-posts li {
  margin-bottom: 8px;
}

.rot90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.tagline-hack {
  text-transform: lowercase;    
  text-align: left;
  font-family: monospace;
  position: relative;
  top: 80px;
  right: 53px;

  @media only screen and (max-width: 768px) {
    display: none;
  }
  @media only screen and (min-width: 768px) and (max-width: 980px) {
    top: 52px;
    right: 28px;
  }
  @media only screen and (min-width: 1200px) {
    top: 108px;
    right: 79px;
  }
}

.tagline-hack h2 {
  font-size: 50px;
}

.tagline-hack h3 {
  font-size: 32px;
  margin-left: 54px;
}

.tagline-hack-wrapper {
  @media only screen and (min-width: 768px) {
    height: 460px;
  }
}
