---
---

@import "bourbon";
@import "neat";

/* Variables */
$white: #fff;
$green: #2bad7c;
$orange: #ff7b3f;
$off-white: #eee;
$gray-dark: #333;

/* Webfonts */
@font-face {
  font-family: 'League Spartan';

  src: url("/assets/leaguespartan-bold.eot");
  src: local("☺"),
    url("/assets/leaguespartan-bold.woff"),
    url("/assets/leaguespartan-bold.ttf"),
    url("/assets/leaguespartan-bold.svg#league_spartanregular");
  font-weight: bold;
}

$sans-font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$display-font-family: 'League Spartan',Helvetica,sans-serif;
$display-font-weight: bold;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  background-color: $off-white;
  font-family: $sans-font-family;
}

.cf {
  *zoom: 1;

  &:after,
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts > li {
  margin-bottom: 20px;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
}

.footer .twitter-follow-button {
  margin-top: 10px;
  margin-left: 38%;
  margin-left: -webkit-calc(50% - 82px);
  margin-left: -moz-calc(50% - 82px);
  margin-left: calc(50% - 82px);
}

.footer .disclaimer {
  margin: 0 2em;
  text-align: center;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-header {
  font-size: 1.5em;
}

.post-header span {
  font-size: 80%;
}

.caption {
  text-align: center;
  text-size: 80%;
}

.post-splitter {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

.social-plugins {
  position: relative;
  top: 4px;
  margin-left: 12px;

  .social-plugins-post {
    margin: 0;
  }
}

.hidebelow-lg {
  @media screen and (max-width: 64em) {
    display: none;
  }
}

.f-left {
  float: left;
}

.TopNav {
  background-color: $gray-dark;
  font-family: $display-font-family;
  font-weight: $display-font-weight;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.TopNav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.TopNav-homeLink {
  width: 160px;
}

.TopNav-homeLink,
.TopNav-link {
  height: 62px;
  color: $white;
  display: block;

  &:hover {
    color: $gray-dark;
    background-color: $off-white;
  }
}

.TopNav-menuItem {
  display: inline-block;
}

.TopNav-link {
  padding: 22px 10px 20px 10px;
}

.TopNav-image,
.TopNav-homeText {
  display: inline-block;
}

.TopNav-image {
  width: 50px;
  float: left;
  margin: 5px;
}

.TopNav-homeText {
  margin-top: 22px;
  margin-left: 10px;
}

.img--round {
  border-radius: 50%;
}

.Site-container {
  margin: 0 auto;
  max-width: 1200px;
  font-family: $sans-font-family;

  @media screen and (max-width: 64em) {
    max-width: 800px;
  }
}

.Site-column {
  padding: 1em;
}

.profile-block {
  border-top: 2px solid #eee;
  margin-top: 20px;
}

.profile-header {
  margin-left: 10px;
}

.profile-picture {
  background-image: url(/assets/splat-profile.jpg);
  background-size: 100%;
  width: 200px;
  height: 200px;
  margin-left: 10px;

  @media
  screen and (-webkit-min-device-pixel-ratio: 1.5),
  screen and (-moz-min-device-pixel-ratio: 1.5),
  screen and (min-device-pixel-ratio: 1.5) {
    background-image: url(/assets/splat-profile-2x.jpg);
  }
  @media only screen and (min-width: 768px) and (max-width: 980px) {
    width: 146px;
    height: 146px;
  }
}

.profile-blurb {
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #777;
  margin-top: 6px;
}

.profile-twitter-button {
  margin: 6px 0 0 10px;
}

.SideContent-recentPosts {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin-left: 20px;
}

.SideContent-recentPost {
  margin-bottom: 8px;
}
