---
---

@import "bourbon";
@import "neat";

/* Variables */
$white: #fff;
$green: #2bad7c;
$blue: #2893c1;
$orange: #ff7b3f;
$off-white: #eee;
$gray-dark: #333;
$gray-darker: #222;

/* Webfonts */
@font-face {
  font-family: 'League Spartan';

  src: url("/assets/leaguespartan-bold.eot");
  src: local("☺"),
    url("/assets/leaguespartan-bold.woff"),
    url("/assets/leaguespartan-bold.ttf"),
    url("/assets/leaguespartan-bold.svg#league_spartanregular");
  font-weight: bold;
}

$sans-font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$serif-font-family: Georgia,Cambria,"Times New Roman",Times,serif;
$display-font-family: 'League Spartan',Helvetica,sans-serif;
$display-font-weight: bold;

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $gray-darker;
  text-decoration: underline;
}

body {
  background-color: $white;
  color: $gray-dark;
  font-family: $sans-font-family;
  height: 100%;
  margin: 0;
}

.u-pageWrap {
  min-height: 100%;
  margin-bottom: -100px;

  &:after {
    content: "";
    display: block;
    height: 100px;
  }
}

.u-positionScope {
  position: relative;
}

footer {
  height: 100px;
  background-color: $gray-dark;
  color: $off-white;
  padding: 10px;
  text-align: center;
  font-size: 80%;
}

.cf {
  *zoom: 1;

  &:after,
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  margin-bottom: 20px;
  margin-top: 25px;

  &:first-child {
    margin-top: 0;
  }
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
}

.Footer-followButton {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -82px;
}

.Footer-disclaimer {
  margin-top: 40px;
}

.Footer-link {
  color: $off-white;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.Post-header {
  font-family: $sans-font-family;
  font-weight: normal;
  font-size: 28px;
}
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-header {
  font-size: 1.5em;
}

.post-header span {
  font-size: 80%;
}

.caption {
  text-align: center;
  text-size: 80%;
}

.post-splitter {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

.social-plugins {
  position: relative;
  top: 4px;
  margin-left: 12px;

  .social-plugins-post {
    margin: 0;
  }
}

.SocialPlugins {
  position: relative;
  top: 4px;
  margin-left: 12px;
}

.SocialPlugins--post {
  margin: 0;
}

.SocialPlugins-twitter {
  margin-left: -30px;
}

.SocialPlugins-fb {
  position: relative;
  margin-left: -25px;
  top: -8px;
}

.SocialPlugins-fb--post {
  top: -3px;
}

.hidebelow-lg {
  @media screen and (max-width: 64em) {
    display: none !important;
  }
}

.TopNav {
  background-color: $gray-dark;
  font-family: $display-font-family;
  font-weight: $display-font-weight;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.TopNav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.TopNav-homeLink {
  width: 160px;
}

.TopNav-homeLink,
.TopNav-link {
  height: 62px;
  color: $white;
  display: block;
  text-decoration: none;

  &:hover {
    color: $gray-dark;
    background-color: $off-white;
    text-decoration: none;
  }
}

.TopNav-menuItem {
  display: inline-block;
}

.TopNav-link {
  padding: 22px 10px 20px 10px;
}

.TopNav-image,
.TopNav-homeText {
  display: inline-block;
}

.TopNav-image {
  width: 50px;
  float: left;
  margin: 5px;
}

.TopNav-homeText {
  margin-top: 22px;
  margin-left: 10px;
}

.img--round {
  border-radius: 50%;
}

.Site-container {
  @include outer-container(1200px);

  font-family: $serif-font-family;
  line-height: 1.75em;

  @media screen and (max-width: 64em) {
    max-width: 800px;
  }
}

.Site-row {
  @include row();
}

.Site-column {
  padding: 1em;
}

.Site-column--lg2of3 {
  @include media(max-width 64em) {
    @include span-columns(12);
  }

  @include media(min-width 64em) {
    @include span-columns(8);
  }
}

.Site-column--lg1of3 {
  @include media(max-width 64em) {
    @include span-columns(12);
  }

  @include media(min-width 64em) {
    @include span-columns(4);
  }
}

.profile-block {
  border-top: 2px solid #eee;
  margin-top: 20px;
}

.profile-header {
  margin-left: 10px;
}

.profile-picture {
  background-image: url(/assets/splat-profile.jpg);
  background-size: 100%;
  width: 200px;
  height: 200px;
  margin-left: 10px;

  @media
  screen and (-webkit-min-device-pixel-ratio: 1.5),
  screen and (-moz-min-device-pixel-ratio: 1.5),
  screen and (min-device-pixel-ratio: 1.5) {
    background-image: url(/assets/splat-profile-2x.jpg);
  }
  @media only screen and (min-width: 768px) and (max-width: 980px) {
    width: 146px;
    height: 146px;
  }
}

.profile-blurb {
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #777;
  margin-top: 6px;
}

.profile-twitter-button {
  margin: 6px 0 0 10px;
}

.SideContent-block {
  border-top: 2px solid darken(#eee, 10%);
  margin-top: 20px;
}

.SideContent-recentPosts {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin-left: 20px;
  padding: 0;
}

.SideContent-recentPost {
  margin-bottom: 8px;
}

.SideContent-profileImage {
  width: 130px;
  padding: 5px;
  shape-outside: circle(50%);
  shape-margin: 1em;
  float: left;
}

.f-display {
  font-family: $display-font-family;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
